/*--this is a comment, you can put anything inside the star and slash--*/
body{
   background-color: white;
   margin: 0px;
   padding: 0px;
}
div{
   margin: 50px;
   padding: 0px;
}
section {
  float: left;
   width: 70%;

}
aside {
  background-color: white;
  float: right;
  width: 30%;
}

img{
   border: 0px;
   margin: 10px;
   padding: 0px;
   float: left;
   width: 100%;

}
table{
   background-color: 333333;
   border-collapse: collapse;
   margin: 0px;
   padding: 0px;
   width: 100%;
}

h1 {

  color: #000000;
  font-family: "Helvetica Neue", Arial,sans-serif;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;

}

h2 {
  display: block;
  color: #000000;
  font-family: "Helvetica Neue", Arial,sans-serif;
  font-size: 1.5em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold
}

p {
  display: block;
  color: #000000;
  font-family: "Helvetica Neue", Arial,sans-serif;
  font-size: 1em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: normal
}


ul{
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 35px;
   padding: 0px;
   list-style-image: url('image location');
   line-height: 20px; (gives spacing between list items)
}


footer{
  background-color: 333333;
  width: 100%;
  clear: both;
  margin-bottom: 1;
}
