
/*--got this from http://davidjrush.com/blog/2008/12/setting-up-your-first-external-css-file/ --*/
/*--this is a comment, you can put anything inside the star and slash--*/
body{
   background-color: white;
   margin: 0px;
   padding: 0px;
}
div{
   margin: 0px;
   padding: 0px;
}
section {
  float: left;
   width: 60%;

}
aside {
  background-color: 000000;
  float: right;
  width: 30%;
}

img{
   border: 0px;
   margin: 0px;
   padding: 0px;
   float: left;
   width: 100%;

}
table{
   background-color: 333333;
   border-collapse: collapse;
   margin: 0px;
   padding: 0px;
   width: 100%;
}
p{
   margin: 15px;
   padding: 0px;
}
ul{
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 35px;
   padding: 0px;
   list-style-image: url('image location');
   line-height: 20px; (gives spacing between list items)
}
a{
   text-decoration: underline/none;
   color: hexcode/word;
   font-weight: bold/normal;
}
a:hover{
   text-decoration: underline/none;
   color: hexcode/word;
   font-weight: bold/normal;
   /*make sure to change at least one thing from your a tag definition*/
}
a:visited{
   text-decoration: underline/none;
   color: hexcode/word;
   font-weight: bold/normal;
   /*make sure to change at least one thing from your a tag definition*/
}

footer{
  background-color: 333333;
  width: 100%;
  clear: both;
  margin-bottom: 0;
}
